div {
    border: 1px solid black;
    font-family: Arial;
}

div > p {
    color: red;
    text-decoration: underline;
}
div ul {
    list-style: none;
}

div h2 {
    color:blue;
}

/* + Charges adjacent sibling */
div + p {
color: COral;
font-weight: bold;
}

p {
    color:brown;
}