@use "./../Partials/typography";

@use "./../Partials/palette.scss";

.blog {
    border: palette.$border;
    padding: 20px;
    margin: 30px;

    &__title {
        color: palette.$primary-color;
        font-family: typography.$primary-font;
    }

    &__desc {
        font-family: typography.$primary-font;
    }
}
